body {
    display: flex;
    flex-direction: column;
    background-image: url(img_pollo_locco/img/5_background/desert-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

.d-none {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
}

canvas {
    background-color: black;
    background-image: url(./img_pollo_locco/img/9_intro_outro_screens/start/startscreen_2.png);
    background-size: cover;
    background-position: 55%;
    border-radius: 20px 20px 0px 0px;
    display: block;
    pointer-events: none;
    z-index: 1;
}

.start-screen {
    position: absolute;
    top: 10%;
    left: 40%;
    cursor: pointer;
}

.end-screen {
    background-image: url(img_pollo_locco/img/9_intro_outro_screens/game_over/game_over.png);
    background-size: cover;
    background-position: 55%;
    position: absolute;
    top: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.end-screen img {
    position: absolute;
    left: 40%;
    bottom: 5%;
}

.full-screen {
    position: absolute;
    right: 1%;
    bottom: 2%;
    cursor: pointer;
}

.btns-bottom {
    display: flex;
    position: relative;
    bottom: 9%;
    justify-content: space-between;
}

.btns-bottom img {
    height: 40px;
    padding: 0rem 15px;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}