body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    z-index: 1;
}



canvas {
    background-color: black;
    background-image: url(./img_pollo_locco/img/9_intro_outro_screens/start/startscreen_2.png);
    background-size: cover;
    background-position: 55%;
    border-radius: 20px 20px 0px 0px;
    display: block;
    pointer-events: none;
    z-index: 1;
}

.startScreen {
    position: absolute;
    top: 10%;
    left: 40%;
    cursor: pointer;
}